[flake8]
max-line-length = 100
exclude = 
    alembic,
    __pycache__,
    .git,
    .venv,
    venv,
    env,
    build,
    dist
# Ignore E501 (line too long) and W503 (line break before binary operator - outdated)
ignore = E501, W503
